doctype html
html( lang="en" )
  head
    meta( charset="utf-8" )
    title Elm Canvas
    link( rel="stylesheet" href="/assets/application.css" )
    link( rel="stylesheet" href="/assets/main.css" )
    script( type="text/javascript" href="/assets/application.js" )
    script( type="text/javascript" src="https://use.fontawesome.com/644c3433d2.js" )
    block head

  body
    block body
